$primary-color:#22B48C;
$secondary-color:#DB3F52;
$the-black:#070808;
//$the-black:#384657;
$the-dark-grey:#797979;
$the-light-grey:#909399;
$the-grey:#F2F5F7;
$simple-grey:#F2F5F7;
$cac-gray: #f9f9f9;

$main-color-one-variation : #19a093;
$dashboard-side-nav-primary-color : rgb(45, 50, 62);
$dashboard-side-nav-text-color: rgba(255, 255, 255, .7);
$dashboard-side-nav-secondary-color: #282C37;
$dashboard-side-nav-sub-menu-color:#19a093;
$dashboard-bg:#F4F3EF;
$grey-color:#EEE;


//#00695c

$dashboard-nav-color: rgb(54, 71, 79);


$button-one-color:#00b5ad;

$dark-background: #444;

$dashboard__sidebar-text-color:#000;

$main-font-color-one:#333D47;
$sidebar-color:#FFF;
//$sidebar-color:#2c3e50;
