/*@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face{
font-family: "myriadProLight";
src: url('../fonts/myriadpro/MYRIADPRO-LIGHT.OTF');

}

@font-face{
font-family: "myriadProBold";
src: url('../fonts/myriadpro/MYRIADPRO-REGULAR.OTF');

}

@font-face{
font-family: "gothamLight";
src: url('../fonts/gotham/Gotham-Light.TTF');

}

@font-face{
font-family: "gothamBold";
src: url('../fonts/gotham/Gotham-Bold.TTF');

}*/

$gothamLight: 'gothamLight';
$gothamBold: 'gothamBold';
$mainFontBold:'gothamBold';
$mainFont: "Open Sans",
helvetica,
arial,
sans-serif;
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
//material designs icons declaration
//END
